@use "../../../utils/scss/variables" as a;

.spl__{
    &container{
      padding: 8em 0 8em 0;
      background: linear-gradient(180.04deg, rgb(46 46 46 / 50%), #4d4d4d 100%);
      &-img{
        width: 17em;
        height: 17em;
      }
    }

    &name{
      font-size: 3em;
      font-weight: bold;
    }

    &play:hover{
      background-color: a.$main-black;
      color: a.$brand-color;
      transform: scale(1.3);
    }
}

