@use "../../utils/scss/variables" as a;

// -----------------------INPUT

.edit__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

// ---------------------IMAGE

.img-thumbnail {
  width: 8em;
}

// -----------------------BUTTON

.btn__save {
  width: 8em;
  border: none;
  background-image: linear-gradient(
    45deg,
    a.$brand-color 20%,
    transparent 60%
  );
  background-position: 100%;
  background-size: 400%;
  transition: background 500ms ease-in-out;
}
