@use "../../utils/scss/variablesAndBootstrap" as a;

.list-row {
  width: 100% !important;
}

.list_item {
  background-color: rgb(41, 41, 41) !important;
  width: 50% !important;
  color: white !important;
  font-size: 15px !important;
  padding-left: 0.45rem !important;

  &_titles {
    background-color: rgb(41, 41, 41) !important;
    width: 50% !important;
    color: rgb(104, 104, 104) !important;
    font-size: 12px !important;
    height: 2rem;
    padding: 0.45rem !important;
  }
}
