@use "../../../utils/scss/variables" as a;
.side__bar{
  width: 9em;
  font-size: 1em;
  max-height: 100%;
  background-color: a.$main-black;
  border-right: a.$border-color;
  z-index: 10;
  flex-shrink: 0;

  &__nav{
    display: block;
    overflow-y: auto;
    contain: strict;
    flex-grow: 1;
    padding: 0 0 4em 0;
    &__link{
      font-size: 0.7em;
      word-wrap: break-word;
    }
  }
  
  &-icon{
    margin-right: 0.4rem;
  }
}



.brand__{
  &img{
    width: 3em;
    filter: invert(1);
  }
  
  &link{
    color: white;
  
    &:hover{
      color: white;
    }
  }
}






