@use "../../../utils/scss/variables" as a;

.current__img{
  width: 6em;
  height: 100%
}

.btn__options {
  background: transparent;
  color: rgb(175, 175, 175);
  border: none;
  &:active{
    color: rgb(175, 175, 175);
  }
  &:focus{
    background-color: transparent;
    color: inherit;
    outline: 0%;
  }
  &:hover{
    color: white;
    background-color: transparent;
  }
  &-round{
    height: 2em;
    width: 2em;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    padding: 0 0 2px 0;
    &:hover{
      background-color: rgba(255, 255, 255, 0.24);
      filter: brightness(150%);
    }
    &:focus{
      background-color: inherit;
      color: inherit;
    }
  }
}