@use "../../../utils/scss/variables" as a;

.search{
  width: 18em;
  height: inherit;
  padding: 0.1em;
  background-color: white;
  &__icon{
    color: a.$web-background-color;
  }
  &__input{
    height: inherit;
    border: none;
    &:focus{
      border: none;
      box-shadow: none;
    }
  }
}