@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/variables";

// ------------------COLORS

$web-background-color: #4d4d4d;
$main-black: #2e2e2e;
$fb-blue: #1877f2;
$gg-green: #34a853;
$brand-color: #F170FF;

// ----------------BOOTSTRAP VARIABLES

$custom-colors: (
  "facebook-color": $fb-blue,
  "google-color": $gg-green,
  "log-color": white
);


$btn-border-radius: 10px;
$body-bg: $web-background-color;
$input-disabled-bg: rgba(255, 255, 255, 0.623);

// Merge the maps

$theme-colors: map-merge($theme-colors, $custom-colors);

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

// -------------- RESET

a{
  text-decoration: none;
  color: $brand-color;
}




