.input__track{
background-image: url(https://www.svgrepo.com/show/44854/mp3.svg);
width: max-content;
height: max-content;
}
.input__img{
background-image: url(https://www.svgrepo.com/show/44854/mp3.svg);
width: max-content;
height: max-content;
}
.img_icon{
  width: 61px;
  height: 56px;
}