@use "../../../utils/scss/variables" as a;

.header{
    background-color: a.$main-black;
    border-bottom: a.$border-color;
    z-index: 5;
    position: fixed;
    // height: 3em;
    width: calc(100vw - 9em);
}