
@use "../../../assets/scss/conf.scss" as a;


.track_card_container {
    width: 250px !important;
    height: 250px !important;
    background-color: rgb(218, 218, 218) !important;
    display: flex;
    justify-content: center;

  &_image{
    max-width: 250px;
    max-height: 150px;
    overflow: hidden;
    // position: absolute;
  }

  &_button{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px ;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
    border-radius: 12px;
    border: none;
    max-width: 20%;
    height: 25px;
    justify-content: center;
    font-size: 12px;
    color: #fff;
    background-color: a.$brand_color;
    background-origin: border-box;
    box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
      inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
    // position: absolute;
  }

  &_button:hover {
    transition: 0.5s;
    background-color: #46104a;
  }

}
