@use '../abstracts/colors'as c;
.container {
margin-top: 50px;
}
.app__container {
background-color: c.$web-background-color;
}
.form__background-color{
background-color: black;
border-radius: 3%;
}
body {
font-family: "Rubik", sans-serif;
}
